body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

strong,
b {
  font-weight: 500 !important;
}

.mdi-icon {
  fill: currentColor;
}

.hide {
  display: none !important;
}

tr td,
tr th {
  padding: 3px 15px 3px 15px !important;
}

tr td:last-child:not(.empty),
tr th:last-child:not(.empty) {
  text-align: right !important;
  width: 50px;
}


tr td:last-child:not(.empty) button,
tr th:last-child:not(.empty) button {
  margin-right: -10px;
}

tr td.empty {
  font-style: italic;
  opacity: 0.7;
  text-align: center;
}

.button-margin-input {
  margin-top: 25px !important;
}